body {
  background: rgb(77, 77, 77);
}
* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}
.linkedin {
  display: grid;
  grid-template:
    "menu menu menu" 40px
    "profile startpost news" 100px
    "profile main news" 100px
    "notifications main courses" 200px
    "recent main addfeed" 1fr /
    160px 1fr 200px;
  width: 100vw;
  height: 100vh;
}
.menu {
  grid-area: menu;
  background-color: #ff000050;
}
.profile {
  grid-area: profile;
  background-color: #00ff0050;
}
.startpost {
  grid-area: startpost;
  background-color: #0000ff50;
}
.news {
  grid-area: news;
  background-color: #77007750;
}
.main {
  grid-area: main;
  background-color: #10abe950;
}
.courses {
  grid-area: courses;
  background-color: #c1e91050;
}
.recent {
  grid-area: recent;
  background-color: #ac10e950;
}
.addfeed {
  grid-area: addfeed;
  background-color: #e910e950;
}
